html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, 
a, img, ul, li, form, footer, header{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: arial;
}

header {
	background-color: #000;
	color: #ffffff;
	margin-bottom: 15px; 
}


header .span6 ul{
	list-style-type: none;

}

header .span6 li {

	
	font-size: 15px;
}

header .span6 a {
	text-decoration: none;
	color: lightgrey;
	font-size: 25px;
	padding: 10px 0;
	margin-right: 20px;

}

header  a:hover {
	color: #ffffff;
	background-color: none;
}



header .span6 ul a {

	font-size: 15px;
	padding: 16px 0;
	display: block;

}

header .span6 form{
	margin: 10px 0px;

}

header .form-inline input{

	width: 170px;
	margin: 0;

}

.banner {
	background-color: lightgrey;
	color: #000;
}

.banner h1{
	
	margin-left: 45px;
	padding-top: 50px;
	font-size: 55px;
	font-weight: bold;

	
}
.banner p {
	font-size: 18px;
	margin:0 55px 15px 55px;
	line-height: 26px;
}

.banner a {
	margin-left: 45px;
	margin-bottom: 50px;

	
}

.css-edit {

	margin-top: 40px;
}

.css-edit h3 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.css-edit  p{

	font-size: 15px;
	line-height: 20px;
}

.css-edit a {

	margin-top: 10px;
}


footer .container{

	border-top: 1px solid;
	margin-top: 50px;
}



